doctype html
html
  head
    if tid == 'M'
      meta(name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no")
    title= title
    script(src='/js/lib/jquery/jquery.js')
    script(src='/page/layout/index.js')
    link(rel='stylesheet', href='/page/layout/style.css')
    link(rel='stylesheet', href='/page/layout/head.css')
    block styles
  body
    include head
    block content
    block scripts
    
